html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	
}

/* Your code starts here! */


.navigation {
	display: flex;
	justify-content: space-around;
	width: 50%;	
	font-size: 13px;
}

a {
 color: gray;
 padding: 20px;
}

.logo {
	padding: 15px;
}

h1 {
	text-align: center;
	font-size: 60px;
}

.header-img {
	max-width: 40%;
	height: auto;
}

.section1 {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.button {
	border: 3px  solid black;
	width: 245px;
	height: 40px;
	padding: 11px;
	text-align: center;
	border-radius: 10px 15px;
	box-shadow: 3px 3px rgb(128, 124, 124);
}

.top-section {
	display: flex;
	justify-content: space-around;
	width: 45%;
	padding: 25px;
	border-top: 2px solid gray;
	margin: 25px;
	font-size: 15px;

}

.middle-img {
	margin: 20px;
	padding: 1px;
	width: 45%;
}

.bottom-section {
	display: flex;
	justify-content: space-around;
	width: 45%	
}

.bottom-section {
	padding: 18px;
	margin: 25px;
	font-size: 15px;
	border-bottom: 2px solid gray;
}

.info {
   display: flex;
   align-content: flex-start;
   width: 45%;
  padding: 20px;
  margin: 20px;
  font-size: 13px;
}

footer {
	text-align: center;
	width: 45%;
	font-size: 11px;

}


@media screen and (max-width: 800px) {

.header1 .navigation .logo {
	position: relative;
	bottom: 50px;
	right: 320px;
	
	
}

.header1 .navigation {
	position: relative;
	top: 50px;
	left: 300px;
}
  .header-img{
	  display: none;
  }
	.header1 {
		width: 100%
}

.section1 {
	width: 100%;
}

.top-section {
    width: 95%

}
.middle-img {
	width: 95%

}

.bottom-section {
	width: 95%
}

.footer1 {
	width: 100%;
}

h1 {
	font-size: 50px;	
}

}

@media screen and ( max-width: 500px ) {


	.header1 .navigation {
		display: flex;
		flex-direction: column-reverse;
		
}

.header1 .navigation a  {
	border-bottom: 1px solid gray;
	position: relative;
	right: 170px;
	text-align: center;
	bottom: 50px;
	padding: 5px;
	
}
.header1 .navigation .logo  {
	border-bottom: 1px solid gray;
	position: relative;
	right: 170px;
}

}