html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

a {
	margin: 30px;
	text-align: center;
	color: black;
	text-shadow: 1px 1px white;
	
}

nav {
    display:flex;
    flex-direction: row;
}

nav a {
     margin: 2%;
	text-align: center;
	color: black;
	text-shadow: 1px 1px white;

}



h2 {
	font-size: 50px;
	float: left;
	margin : 120px;
	
	
	
}

.on { 
	position:relative; 
	left: 80px;


}

.demand { 
	position:relative; 
	left: 30px;


}

p {
	border: 2px solid red;
		width: 60%;
		margin: 20px;
		padding:12px;
		height: 50px;
		/*top: 300px;*/
		text-align: center;
		font-family: 'Titillium Web', sans-serif;
		font-size: 14px;
	}

	.top-content {
		display:flex;
	justify-content: flex-start;
			
	}	
	
		.middle-img {
	
		display:flex;
		flex-wrap: wrap;
		margin: 20px;
		}
		

.bottom-content {
	display:flex;
	justify-content: flex-start;
}	

.top-content{
	border-bottom: solid 1px #000;
	width: 950px;
	padding: 10px;
}

.contact{
	display: inline-block;
	width: 270px;
	height: 80px;
	
	margin:  45px  20px;
}


footer {
	position:relative; 
	height:380px;
	 top:50px;
	 left: 380px;
	 font-size: 14px;
	 text-shadow: 1px 1px gray;
}

.number {
	position:relative;
	 margin: 8px;
	 right: 2px;
}


.bottom-content {

	border-bottom: solid 1px #000;
	width: 950px;
	padding: 10px;
}

.logo{
	
	position:relative;
	 margin: 8px;
	 left: 75px;
}

.contact {
	font-size: 13px;
}

footer {
font-size: 13px;
position: center;

}


@media screen and   ( max-width: 800px){

	
	a {
		margin: 30px;
		text-align: center;
		color: black;
		text-shadow: 1px 1px white;
		
	}
	
	nav {
		display:flex;
		flex-direction: row;
	}
	
	nav a {
		 margin: 2%;
		text-align: center;
		color: black;
		text-shadow: 1px 1px white;
	
	}
 .header-container {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid gray;
	
}

.header-container > h2 > div {
	align-content: center;
	right: 100px;
}

.header-container .get {
	
	margin: 20px;
	padding:12px;
	height: 50px;
	top: 300px;
    text-align: center;
}
	
	.header-container img {
	  display: none;
	}

	header p {
		
		border: 2px solid red;
		width: 60%;
		margin: 20px;
		padding:12px;
		height: 50px;
		/*top: 300px;*/
		text-align: center;
		}

	.top-content {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0 auto;		
	}
	
	.top-content .left {
		flex-wrap: wrap;
		font-size: 13px;
		
	
	}
	.top-content .right {
		flex-wrap: wrap;
	
		font-size: 13px;
	
	}
	.middle-img {
		display: flex;
		flex-wrap: wrap;
		width: 90%
	
	}
	
	.bottom-content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-bottom: 1px solid gray;
		
	}
	
	.bottom-content .right1 {
		align-items: center;
		width: 210px;
		font-size: 13px;
	}
	
	.bottom-content .right2 {
		position: relative;
		width: 210px;
		font-size: 13px;
	}
	
	.bottom-content .right3 {
		position: relative;
		width: 210px;
		font-size: 13px;
	}


}
.contact {
	font-size: 13px;
}

footer {
font-size: 13px;
left: 150px;
}

@media screen and ( max-width: 500px){

	
	.container {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
       
 }
 .container > a {
    
    border-bottom: 1px solid gray;
    text-align: center;
    margin: 1%;
    padding: 3%
	
 }

 .header-container {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid gray;
	
}

.header-container > h2 > div {
	align-content: center;
	right: 100px;
}

 header p  {
	 border: 2px solid red;
	width: 60%;
	margin: 20px;
	padding:12px;
	height: 50px;
	/*top: 300px;*/
    text-align: center;
}
	
	.header-container img {
	  display: none;
	}

	.top-content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0 auto;		
	}
	
	.top-content .left {
		flex-wrap: wrap;
		font-size: 13px;
		
	
	}
	.top-content .right {
		flex-wrap: wrap;
	
		font-size: 13px;
	
	}
	.middle-img {
		display: flex;
		flex-wrap: wrap;
		width: 90%
	
	}
	
	.bottom-content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-bottom: 1px solid gray;
		
	}
	
	.bottom-content .right1 {
		align-items: center;
		width: 440px;
		font-size: 13px;
	}
	
	.bottom-content .right2 {
		position: relative;
		width: 440px;
		font-size: 13px;
	}
	
	.bottom-content .right3 {
		position: relative;
		width: 440px;
		font-size: 13px;
	}


}