html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	
}

/* Your code starts here! */
.container {
	text-align: center;
	margin: 0 auto;
}

.navigation {
	display: flex;
	justify-content: space-around;
	width: 730px;	
	font-size: 13px;
}

a {
	
position: relative;
top: 30px;
 color: white;
 padding: 15px;
}

.logo {
	
	padding: 20px;
}

h1 {
	text-align: center;
	font-size: 60px;
}

.header-img {
	
	height: auto;
}

.section1 {
	display: flex;
	justify-content: space-around;
	width: 730px;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


.button {
	position: relative;
	left: 50px;
	border: 3px  solid white;
	width: 120px;
	height: 40px;
	padding: 11px;
	text-align: center;
	border-radius: 10px 15px;
	box-shadow: 3px 3px rgb(128, 124, 124);
}

.top-section {
	display: flex;
	justify-content: space-around;
	color: white;
	width: 730px;
	padding: 25px;
	border-top: 2px solid white;
	margin: 15px;
	font-size: 12px;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.features { 
	
	padding: 5px;
    color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.about { 
	padding: 4px;
    color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.middle-img {
	display: flex;
	justify-content: center;
	margin-left: 25px;
	width: 710px;
	box-shadow: 7px 5px 5px white;

}

.bottom-section {
	display: flex;
	justify-content: space-around;
	width: 730px;	
}


.bottom-section {
	color: white;
	padding: 30px;
	margin:  20px;
	font-size: 12px;
	border-bottom: 2px solid white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h4 { 
	padding: 5px;
    color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


.info {
   display: flex;
   align-content: flex-start;
   width: 730px;
  padding: 20px;
  margin: 20px;
  font-size: 13px;
}

footer {
	text-align: center;
	width: 730px;
	font-size: 11px;

}

body {
	background-image: url("https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolour-4116932_1280.png");
	background-repeat: no-repeat;
	background-size: 750px 1200px;

}


@media screen and (max-width: 800px) {

	.container .header1 .navigation {
		display: flex;
		flex-direction: column-reverse;
	
		
	}
	
	
	  .header-img{
		  display: none;
	  }
		.header1 {
			width: 100%
	}
	
	.section1 {
		width: 100%;
	}
	
	.top-section {
		width: 95%
	
	}
	.middle-img {
		width: 90%
	
	}
	
	.bottom-section {
		width: 95%
	}
	
	.footer1 {
		width: 100%;
	}
	
	h1 {
		font-size: 50px;	
	}
	
	}
	
	a {
	
		font-size: 14px;
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	}

	h4 {
		font-size: 15px;
	}


	
	@media screen and ( max-width: 500px ) {
	
	.container	.header1 nav > div {
			display: flex;
			flex-direction: column-reverse;
			
	}
	a {
		font-size: 14px;
		border-bottom: 1px solid white;
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	}
	
	p {
		border-bottom: 1px solid white;
	}

	h4 {
		font-size: 15px;
	}
}